<div class="my-container">
  <form action="" [formGroup]="userForm">
    <mat-form-field floatLabel="Email">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email" required>
    </mat-form-field>
    <mat-form-field floatLabel="Gender">
      <mat-select placeholder="Gender" formControlName="gender">
        <mat-option *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-option>
      </mat-select>
    </mat-form-field>
    <hr>
    <div formGroupName="login">
      <mat-form-field floatLabel="User">
        <mat-label>User</mat-label>
        <input matInput formControlName="username" placeholder="User">
      </mat-form-field>
      <mat-form-field floatLabel="Password">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Password" required>
      </mat-form-field>
    </div>
    <hr>
    <div formGroupName="picture">
      <mat-form-field floatLabel="Image URL">
        <mat-label>Avatar</mat-label>
        <input matInput formControlName="thumbnail" placeholder="Image URL">
      </mat-form-field>
    </div>
    <mat-form-field floatLabel="Birth Date">
      <input matInput [matDatepicker]="picker" formControlName="dob" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>

  <div class="form-footer">
    <button color="primary" type="button" [disabled]="!userForm.valid" (click)="submit(userForm.getRawValue())" mat-raised-button>Save</button>
    <button type="button" mat-raised-button (click)="cancel()">Cancel</button>
  </div>
</div>