nav {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.panel-heading {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.panel-block {
  width: 50%;
}

.panel-tabs {
  flex: 1;
}

.books {
  width: 100vw;
  height: 100%;
  flex: 20;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.books > a > button {
  margin-left: 13px;
}

.recicle-bin {
  width: fit-content;
}