.my-container {
  height: 100%;
  margin: 0 0 0 0;
  overflow: hidden;
}

.nav {
  height: 6vh;
}

main {
  height: 94vh;
}

@media screen and (max-width: 1087px) {
  .nav {
    height: 22vh;
  }
  
  main {
    height: 78vh;
  }
}