<div class="my-container">
  <ng-container *ngIf="loading <= 0; else loader">
      <div class="user" *ngFor="let user of users">
        <div class="card">
          <div class="card-content">
            <div class="left">
              <img src="{{user?.picture?.thumbnail}}" alt="">
              <a *ngIf="type === 'users'" class="button is-primary" (click)="userService.addUserToContacts(user)">Add</a>
              <a *ngIf="type === 'contacts'" class="button is-primary" (click)="userService.removeUserFromContacts(user)">Remove</a>
              <a *ngIf="type === 'contacts'" class="button" (click)="editUser(user)">Edit</a>
            </div>
            <div class="right">
              <i *ngIf="type !== 'chat'" class="fa fa-address-book fa-2x" aria-hidden="true"></i>
              <div class="details">
                <span>{{user?.name?.first + ' ' + user?.name?.last}}</span>
                <span>{{user?.email}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </ng-container>

  <div *ngIf="userFormModalOpened" class="modal" [ngClass]="{'is-active': userFormModalOpened}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
          <h1>{{ currentUser ? 'Edit' : 'Add'}} User</h1>
      </header>
      <section class="modal-card-body">
        <app-user-details
          (formCancelEvent)="userFormModalOpened = false"
          (formSubmitEvent)="submitUserForm($event)"
          [genders]="userService.genders"
          [user]="currentUser"></app-user-details>
      </section>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="userFormModalOpened = false"></button>
  </div>

  <ng-template #loader>
    <div class="loader"></div>
  </ng-template>
</div>