mat-card {
    width: 100%;
    max-width: 600px;
    min-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

mat-card:hover {
    background-color: #E1EFE6;
}

.title {
    height: fit-content;
    margin: 0;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}