<form [formGroup]="bookForm">
  <mat-form-field floatLabel="Title">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" placeholder="Title" required>
  </mat-form-field>

  <mat-form-field floatLabel="Author">
    <mat-label>Author</mat-label>
    <input matInput formControlName="author" placeholder="Author" required>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Tags" formControlName="tags" multiple>
      <mat-select-trigger>
        {{bookForm.controls['tags'].value ? bookForm.controls['tags'].value[0] : []}}
        <span *ngIf="bookForm.controls['tags'].value?.length > 1" class="example-additional-selection">
          (+ {{bookForm.controls['tags'].value.length - 1}} others)
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let tag of allTags" [value]="tag">{{tag}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="form-footer">
    <button color="primary" type="button" [disabled]="!bookForm.valid" (click)="submit(bookForm.value)" mat-raised-button>Save</button>
    <button type="button" mat-raised-button (click)="cancel()">Cancel</button>
  </div>
</form>